.add-button {
  width: 48px;
  height: 48px;
}

.mat-title {
  display: block;
  text-align: center;
  color: blue;
  margin-top: 15px;
}


@media (min-width: 2048px) {
  .main-img {
    width: 2048px;
    margin: 0 auto;
    display: block;
  }
  .add-button {
    position: fixed;
    bottom: 100px;
    right: 100px;
  }
}

@media (min-width: 600px) {
  mat-card {
    width: 400px;
    margin: 15px;
  }
  .main-img {
    width: 100%;
  }
  .add-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 599px) {
  mat-card {
    margin: 10px;
  }
  .main-img {
    width: 100%;
  }
  .add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}
